streamlit
langchain
langchain_community
beautifulsoup4
lxml
nest_asyncio
spacy
nltk
gensim
pandas
numpy
scikit-learn
networkx
pyvis
matplotlib
seaborn

# Include spaCy language model
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0-py3-none-any.whl
